.datamanger {
  padding: 20px;

  .bo-card-search {
    background-color: rgba(0, 0, 0, 0.168627450980392);
    border-radius: 5px;
    padding: 12px;



    .bo-form {
      padding: 20px 60px 20px 45px;

      &::after {
        content: ' ';
        clear: both;
        display: block;
      }

      .btn-search {
        float: right;
      }
    }
  }
}
